<li>

    <form class="create-form" action="/inventory" method="POST">

        <div class="form-group">
            <label for="items">Items:</label>
            <input type="text" id="item" name="items">
            <textarea type="text" name="task"></textarea>

            <button type="submit">Submit</button>
            <button type="delete">Delete</button>
        </div>

    </form>
</li>