{{> nav/nav-block}}

<div id="main-container" class="container">
  <div class="jumbotron text-center header-wrap" align="center" id="intro">
    <p class="lead" id="Shop_local"><strong>Keep it Local. Shop Local.</strong></p>
    <br>

    <div>
      {{#if isloggedin}}
        You are logged in as {{user.firstName}}
        <a href="/logout"> <button type="btn" class="btn">Logout</button></a>
      {{else}}
      <div id= "into_paragraph">
        <p>Simply conduct a search using tags for a product. Once all tags have been searched, click on the tag to select. Shopally will find your items and provide an inventory listing of all in-stock products from your favorite local shops. What to go now? Just click the store name!</p>
        <br>
      </div>



<!--Search bar-->
  <form>
    <div class="input-group mb-3">
      <input type="text" class="form-control form-control-lg" placeholder="Enter Tags" aria-label="Enter Tags" aria-describedby="button-addon2" id="product-search">
    <div class="input-group-append">
      <button class="btn btn-warning" type="button" id="tag-search-button">Search</button>
    </div>
    </div>
  </form>

<!--Tag Headers-->
<div class="row">
    <div class="col-md-6 col-left" id="tags-search-header">
        <h2>Tags Searched</h2>
    </div>
        
    <div class="col-md-6 col-right" id="selected-tags">
        <h2>Selected Tags</h2>
    </div>
</div>


<!--Tags-->
<div class="row" id="tags">
    <div class="col-md-6 col-left" id="all-tags">
    </div>

<!--Selected Tags-->
    <div class="col-md-6 col-right" id="selected-tags">
    </div>
</div>

<!--item search button-->
<form>
  <button class="btn btn-warning" id ="item-search">Find my Items</button>
</form>

<div class = "inventory">
  <table class="table table-hover">
  {{!-- <thead> --}}
    {{!-- <tr> --}}
      <th scope="col" id="item">Item</th>
      <th scope="col">Category</th>
      <th scope="col">Price</th>
      <th scope="col">Store</th>
    {{!-- </tr> --}}
  {{!-- </thead> --}}
  <tbody id = 'inventory-body'>
  </tbody>
</table>
</div>


<!-- Map Modal -->
<div class="modal fade" id="mapModal" tabindex="-1" role="dialog" aria-labelledby="mapModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="MapModalTitle"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <iframe
            id= "map"
            width="400"
            height="250"
            frameborder="0" style="border:0"
            src="  https://www.google.com/maps/embed/v1/place?key=AIzaSyAPoB0qxu8vfVb1NJ0ZrrLIUHaiyOZcJWg&q=Eiffel+Tower,Paris+France" allowfullscreen>
        </iframe>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button id="go-to-store" type="button" class="btn btn-primary">Go to Site</button>
      </div>
    </div>
  </div>
</div>



      {{/if}}
      <h5 id="login-err-msg"></h5>
    </div>
  </div>
</div>
{{> modal/login-block}}
