body {
  background: url('https://image.freepik.com/free-photo/blurred-background-store-shopping-mall-blur-background-with-bokeh-vintage-filtered-image_1253-1583.jpg');
  background-size: cover;
  height:100%
}

.jumbotron {
  background: rgba(0,0,0,0);
}

.modal {
  color: black;
}

.btn {
  color: #CAEBF2;
  background:#cadde1;
  border: 1px solid white;
}

#Shop_local{
  font-size: 60px;
  color: #79D0A8;
  float: left;
}

/* #btn2{
  background-color:#42d7f4;
  color: white;
}

#btn3{
  background-color: #CAEBF2;
  color: white;
} */


#user-form, .header-wrap, #create-form, .create-user-wrap {
  padding: 20px;
  border-radius: 15px;
  margin: 20px 0;
}

#update-err-msg,
#login-err-msg,
#create-err-msg {
  color: red !important;
}

#go-home {
 width: auto;
 height: 65px;
}

.container {
  padding-bottom: 2%;
  margin-top: 10%;
  height:100%;
  border-radius: .25rem;
  margin-bottom: 2%;
  width: 1000px;
}

[data-useremail="true"] {
  color: white !important;
}
[data-register="true"] {
  color: white !important;
}

.lead {
  font-size: 1.8rem;
  font-weight: 500;
}

.userId h2, .header-wrap h1 {
  text-transform: capitalize;
}

hr {
  background-color: #fff !important;
}

.splitting .char {
  animation: slide-in 1s cubic-bezier(.5, 0, .5, 1) both;
  animation-delay: calc(60ms * var(--char-index));
}

@keyframes slide-in {
  from {
    transform: translateY(-1em) rotate(-.5turn) scale(0.5);
    opacity: 0;
  }
}

#logo {
  font-size: 30px;
  font-weight: bold;
  color: #A9A9A9
}

#navbar{
  height: 100px;
  opacity: .90;
  background-color: #CAEBF2
}

